.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .video {
    width: 600px;
    margin-top: 110px;
  }
  .controller {
    width: 600px;
    height: 30px;
    background-color: rgba($color: #0f0e0e, $alpha: 0.3);
    position: absolute;
    bottom: -30px;
    transition-duration: 0.5s;
  }
}
